#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: consolas;
    font-size: 100px;
}
#resetBt{
    font-family: "permanent marker" ;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
}
#gameContainer{
    text-align: center;
}